.container{
  position: relative;
}
.doc-image{
  width: 60%;
  position: absolute;
}
.new-div{
  /* background: black; */
  border: red solid 1px;
  position: absolute;
}
.new-div:hover{

}
.div-layer{
  position: absolute;
  /* background-color: transparent; */
}
#submitButton{
  position: relative;
  left: 80%;
}
.dropdown{
  border: red solid 1px;
  position:relative;
  text-align:center;
}
.delete-button{
  border: 2px solid red;
  position: relative;
  text-align:left;
  background-color:#f1f1f1;
  font-size: 10px;
}
.drag-button{
  border: 2px solid red;
  position: relative;
  text-align:left;
  background-color:#f1f1f1;
  font-size: 10px;
  cursor: move;
}
.outer-div{
  position:absolute;
}
.draggable{
  touch-action: none;
  user-select: none;
}