.container{
  position: relative;
}
.doc-image{
  width: 60%;
  position: absolute;
}
.new-div{
  /* background: black; */
  border: red solid 2px;
  position: absolute;
}
.div-layer{
  position: absolute;
  /* background-color: transparent; */
}
#submitButton,#deleteButton{
  position: relative;
  left: 80%;
}
.dropdown{
  border: red solid 2px;
  position:relative;
}