.container{
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  position: relative;
}
.doc-image{
  width: 50%;
  position: absolute;
}
.new-div{
  /* background: black; */
  border: red solid 4px;
  position: absolute;
}
.div-layer{
  position: absolute;
  /* background-color: transparent; */
}
#submitButton{
  position: relative;
  
}