.container{
  position: relative;
}
.doc-image{
  width: 60%;
  position: absolute;
}
.new-div{
  /* background: black; */
  border: red solid 1px;
  position: absolute;
}
.div-layer{
  position: absolute;
  /* background-color: transparent; */
}
#submitButton{
  position: relative;
  left: 80%;
}
.dropdown{
  border: red solid 1px;
  position:relative;
  text-align:center;
  background-color:#f1f1f1;
}
.delete-button{
  border: 2px solid red;
  position: relative;
  text-align:left;
  background-color:#f1f1f1;
  font-size: 10px;
}
.drag-button{
  border: 2px solid red;
  position: relative;
  text-align:left;
  background-color:#f1f1f1;
  font-size: 10px;
  cursor: move;
}
.outer-div{
  position:absolute;
}
.resizers{
  position: absolute;
  width: 5px;
  height: 5px;
  color: black;
  z-index: 1;
}
.nw{
  top: -1px;
  left: -1px;
  cursor: nwse-resize;
}
.se{
  bottom: -1px;
  right: -1px;
  cursor: nwse-resize;
}
.ne{
  top: -1px;
  right: -1px;
  cursor: nesw-resize;
}
.sw{
  bottom: -1px;
  left: -1px;
  cursor: nesw-resize
}